@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display|UnifrakturCook:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html body {
  background-image: url('images/board-background.jpg');
  margin: 0px;
}

#game-title {
  width: 60%;
  padding: 20px 0px 20px 0px;
}

#text-box {
  margin: 20px 40px 10px 40px;
}

p {
  font-family: Garamond;
  font-size: 20px;
  font-variant: small-caps;
}

/* ------- TURN DIALOG TEXT --- */
#turn-dialog-half {
  background-image: url('images/action-text-box-half.jpg');
  background-size: 100% 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 6px;
}

#turn-dialog-full {
  background-image: url('images/action-text-box.jpg');
  background-size: 100% 100%;
}

.turn-dialog-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 6px;
}

/* ------- GAME CONTAINER ---- */
#game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}

/* ------- PLAYER DATA BOX ---- */
#player-buttons-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  padding: 25px 25px 0px 25px;
  align-self: center;
}

#player-buttons-column img {
  cursor: pointer;
}

.player-icons {
  width: 45px;
  height: 45px;
}

.player-icon-active {
  border-radius: 45px;
  border: 2px solid #cccccc;
}

.player-data-icons {
  border-radius: 20%;
  height: 40px;
}

#player-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  align-self: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 2;
}

#player-detailed-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  align-self: center;
  height: 600px;
  margin: 0px 30px 0px 30px;
  color: white;
}


#player-detailed-info p {
  font-family: 'Roboto', sans-serif;
}

#player-info-row th, td {
  padding: 10px;
  text-align: left;
}

table {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.tr-player tbody tr:nth-child(odd){
  background: rgba(0, 0, 0, 0.8);
  padding-left: 30px;
  padding-right: 30px;
}

/* -------- LOCATION MODALS --- */
#location-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid #cccccc;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0,0,0,1);
  box-shadow: 3px 3px 8px 1px rgba(0,0,0,1);
  background-color: black;
  position: relative;
  max-width: 500px;
}

#exchange-card {
  position: absolute;
  margin-left: 140px;
}

.highlighted {
  border: 2px solid yellow;
}

.tea-house-number {
  width: 5px;
  position: relative;
  float: left;
  border: 1px solid white;
}

#img-location {
  border-radius: 6px;
  max-width: 500px;
  cursor: pointer;
}

#market-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

#mosque-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

#market-row img {
  border-radius: 20%;
  height: 40px;
  float: left;
  margin: 7px;
}

#end-button {
  width: 150px;
  color: black;
  background-color: blue;
}

/* -------- TURN DIALOGS ----- */
#turn-dialog-container {
  background-color: #dbdac3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 400px;
  width: auto;
  border-radius: 6px;
  box-shadow: 8px 8px 12px #333;
  border: 1px solid white;
}

#icon-turn-dialog {
  display: flex;
  margin: 20px;
  width: 220px;
  border-radius: 6px;
  border: 1px solid black;
}

/* --------- MODAL DEFAULTS ------- */

.modal-buttons {
	border-radius: 4px;
}

.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .20);
}

.modal-content-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1500;
    overflow: auto;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.modal-content-div:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
}

.modal-dialog-div {
    position: relative;
    outline: 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: default;
    border-radius: 4px;
}

/* -------- LOBBY ------- */

#lobby-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#create-room-button {
  text-align: center
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

/* -------- MOVING PIECES ------- */
.player-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px lemonchiffon;
}

.player-container {
  position: absolute;
  width: 100%;
  top: 15%;
  display: flex;
  justify-content: center;
}

.player-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: yellow;
}

.assistant-icon {
  width: 30px;
  height: 30px;
  border-radius: 35px;
  box-shadow: 0px 0px 9px lemonchiffon;
}

.assistant-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.smuggler-icon {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0px 0px 9px lemonchiffon;
}

.smuggler-container {
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  justify-content: center;
}

/* -------- BOARD -------- */

#board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 85%;
  height: auto;
  margin-bottom: 50px;
}

#row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#cell-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px;
  border: 2px solid #cccccc;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0,0,0,1);
  box-shadow: 3px 3px 8px 1px rgba(0,0,0,1);
  border-radius: 6px;
}

.img-location {
  width: 100%;
  z-index: -1;
  position: relative;
}

.cell-text {
  position: absolute;
  color: black;
  background-color: white;
}

/* -------- FOOTER -------- */

footer {
  padding-top: 10px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

.img-money {
  height: 40px;
  float: left;
  margin-right: 9px;
}

footer .white-text {
  font-size: 17px;
  margin: 7px 0px 0px 0px;
}

footer .row {
  margin-top: 10px;
  margin-bottom: 20px;
}

footer .badge {
  margin-left: 3%;
  padding: 12px 12px 0px 0px !important
}

#playerInfo {
  margin-right: 30px;
  color: white;
}

.rules-dialog-btn {
  border-radius: 20%;
}

.rules-dialog {
  padding: 0px;

}

/* -------- New Footer -------- */

#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  bottom: 0px;
}

#new-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.65);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: auto;
  position: relative;
  bottom: 0px;
  padding: 20px 50px 20px 50px;
}

#new-footer p {
  font-family: 'Roboto', sans-serif;
}

#name {
  color: white;
  margin-left: 15px;
  margin-right: 50px;
}


#notifications p {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #a80a0a;
  color: white;
  font-size: 13px;
  font-family: Arial;
  text-align: center;
  vertical-align: center;
  position: relative;
  padding-top: 1px;
  margin-left: -13px;
  margin-top: -20px;
}

#playerName {
  margin-left: 20px;
  vertical-align: center;
}

.footer-icons {
  border-radius: 20%;
  margin-left: 20px;
  height: 40px;
  float: left;
}

/* -------- APP -------- */

#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

#dash-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* ---- WINNER DIALOG ---- */
#winner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d0cabe;
  border-radius: 6px;
}

#winner-text-box {
  margin: 20px 0px 20px 0px;
  padding: 0em 1em 0em 1em;
}

#winner-text {
  color: darkslategray;
  font-size: 40px;
  font-family: Garamond;
  font-weight: bold;
}

#end-game-btn {
  margin: 20px 0px 20px 0px;
}

#game-summary {
  background-color: rgba(215, 117, 79, .1);
  padding: 1em 1em 1em 1em;
  border-top: 1px solid rgba(255,255,255,.5);
  border-bottom: 1px solid rgba(255,255,255,.5);
}

#game-summary-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 10px;
}

#game-header-text {
  color: darkslategray;
  font-family: Garamond;
  font-variant: small-caps;
  text-align: left;
  font-weight: bold;
  font-size: 26px;
  text-shadow: 3px 1px 1px rgba(150, 150, 150, 0.29);
}

table {
  background-color: #d0cabe;
  table-layout: auto!important;
  margin-bottom: 5px;
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  border-top: 1px solid hsla(0,0%,100%,.06)!important;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.tr-game-summary {
  display: table-row;
  background-color: #d0cabe;
}

table tr:nth-child(2n) {
  background-color: rgba(0,0,0,.015);
}

.th-center {
  color: darkslategrey;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  font-family: Garamond;
  font-variant: small-caps;
  text-align: center;
}

.td-center {
  color: darkslategrey;
  padding: 10px 10px 10px 10px;
  font-size: 17px;
  font-family: Garamond;
  font-variant: small-caps;
  text-align: center;
}

.td-name {
  color: darkslategrey;
  padding: 10px 10px 10px 10px;
  font-size: 17px;
  font-family: Garamond;
  font-variant: small-caps;
  text-align: left;
}