@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display|UnifrakturCook:700');

body {
  background-image: url('images/board-background.jpg');
}

#game-title {
  width: 50%;
}

/* ------- GAME CONTAINER ---- */
#game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ------- PLAYER DATA BOX ---- */
#player-buttons-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  padding: 25px 25px 0px 25px;
  align-self: center;
}

#player-icons {
  width: 30px;
  height: 30px;
}

#player-data-icons {
  border-radius: 20%;
  height: 40px;
}

#player-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  align-self: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
}

#player-detailed-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 500px;
  align-self: center;
  padding: 25px 25px 0px 0px;
}

#player-info-row th, td {
    padding: 15px;
    text-align: left;
}

/*h1 {
  font-family: 'Ruslan Display', cursive;
  letter-spacing: 3pt;
  font-size: 120px;
  color: darkred;
  text-shadow: -1px 0 #222, 0 1px #222, 1px 0 #222, 0 -1px #222;
}*/

/* -------- LOCATION MODALS --- */
#location-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 8px 8px 12px #333;
  border: 1px solid white;
  background-color: black;
  color: white;
  position: relative;
  max-width: 500px;
}

#exchange-card {
  position: absolute;
  margin-left: 140px;
}

.highlighted {
  border: 2px solid yellow;
}

.tea-house-number {
  width: 5px;
  position: relative;
  float: left;
  border: 1px solid white;
}

#img-location {
  border-radius: 6px;
  max-width: 500px;
  cursor: pointer;
}

#market-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

#mosque-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

#market-row img {
  border-radius: 20%;
  height: 40px;
  float: left;
  margin: 7px;
}

#end-button {
  width: 150px;
  color: black;
  background-color: blue;
}

/* -------- TURN DIALOGS ----- */
#turn-dialog-container {
  background-color: #dbdac3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 400px;
  width: auto;
  border-radius: 6px;
  box-shadow: 8px 8px 12px #333;
  border: 1px solid white;
}

#icon-turn-dialog {
  display: flex;
  margin: 20px;
  width: 220px;
  border-radius: 6px;
  border: 1px solid black;
}

/* --------- MODAL DEFAULTS ------- */

.modal-buttons {
	border-radius: 4px;
}

.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .20);
}

.modal-content-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1500;
    overflow: auto;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.modal-content-div:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
}

.modal-dialog-div {
    position: relative;
    outline: 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: default;
    border-radius: 4px;
}

/* -------- LOBBY ------- */

#lobby-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#create-room-button {
  text-align: center
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

/* -------- PLAYER ------- */
#player-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px white;
}

#player-container {
  position: absolute;
  width: 100%;
  top: 30px;
  display: flex;
  justify-content: center;
}

#player-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: yellow;
}

/* -------- BOARD -------- */

#board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#cell-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 2px #333;
  border-radius: 6px;
}

.img-location {
  width: 100%;
  z-index: -1;
  position: relative;
}

.cell-text {
  position: absolute;
  color: black;
  background-color: white;
}

/* -------- FOOTER -------- */

footer {
  padding-top: 10px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

.img-circle {
  border-radius: 20%;
  /*border: 2px solid #d3d3d3;*/
  height: 40px;
  float: left;
}

.img-money {
  height: 40px;
  float: left;
  margin-right: 9px;
}

footer .white-text {
  font-size: 17px;
  margin: 7px 0px 0px 0px;
}

footer .row {
  margin-top: 10px;
  margin-bottom: 20px;
}

footer .badge {
  margin-left: 3%;
  padding: 12px 12px 0px 0px !important
}

#playerInfo {
  margin-right: 30px;
  color: white;
}

.rules-dialog-btn {
  border-radius: 20%;
}

.rules-dialog {
  padding: 0px;

}

/* -------- APP -------- */

#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

#dash-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}
